In [331]:
import os
os.chdir("/Users/jacobboysen/myprojects/us-fatal-police-encounters/")

In [332]:
import requests
import pandas as pd

##### FROM WORLD BANK API: DOWNLOAD RURAL POPULATION DATA BY COUNTRY AND YEAR ##### 
# get the url ready
rural_url = 'http://api.worldbank.org/v2/country/all/indicators/SP.RUR.TOTL/?date=2000:2020&format=json&per_page=10000'
# send the request
rural_r = requests.get(rural_url)
#rural_r.json()
rural_df = pd.DataFrame(rural_r.json()[1])


##### FROM WORLD BANK API: DOWNLOAD ELECTRICITY DATA BY COUNTRY AND YEAR ##### 

# get rural population data from the world bank
# get the url ready
elec_url = 'http://api.worldbank.org/v2/country/all/indicators/EG.ELC.ACCS.ZS/?date=2000:2020&format=json&per_page=10000'

# send the request
elec_r = requests.get(elec_url)
elec_r.json()
elec_df = pd.DataFrame(elec_r.json()[1])

In [333]:
#### UNPACK DICTIONARY COLUMN FUNCTION ####

#example inputs
#df = elec_df
#unpack_columns = ["indicator","country"]

def unpack(df, unpack_columns):
    x = df.drop(columns = unpack_columns)
    for i in range(0,len(unpack_columns)):
        v = unpack_columns[i]
        y = pd.DataFrame(df[v])[v].apply(pd.Series)
        y.rename(columns={"id":('{} id'.format(v)), "value":('{} name'.format(v))}, inplace=True)
        
        x = pd.DataFrame(pd.concat([x,y], axis=1))
    return(x)

In [334]:
unpack_columns = ["indicator","country"]

#unpack rural dataframe
rural_df = unpack(rural_df, unpack_columns)

#unpack electricity dataframe
elec_df = unpack(elec_df, unpack_columns)

In [335]:
rural_df.head()

,countryiso3code,date,value,unit,obs_status,decimal,indicator id,indicator name,country id,country name
0,ARB,2020,NaN,,,0,SP.RUR.TOTL,Rural population,1A,Arab World
1,ARB,2019,174564024.0,,,0,SP.RUR.TOTL,Rural population,1A,Arab World
2,ARB,2018,172427227.0,,,0,SP.RUR.TOTL,Rural population,1A,Arab World
3,ARB,2017,170355303.0,,,0,SP.RUR.TOTL,Rural population,1A,Arab World
4,ARB,2016,168295267.0,,,0,SP.RUR.TOTL,Rural population,1A,Arab World

In [336]:
elec_df.head()

,countryiso3code,date,value,unit,obs_status,decimal,indicator id,indicator name,country id,country name
0,ARB,2020,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),1A,Arab World
1,ARB,2019,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),1A,Arab World
2,ARB,2018,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),1A,Arab World
3,ARB,2017,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),1A,Arab World
4,ARB,2016,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),1A,Arab World

In [178]:
#### BACKUP UNPACK RURAL DF ####

#rural_df: unpack Country and Indicator dictionaries to columns
#r1 = pd.DataFrame(rural_df["indicator"]).indicator.apply(pd.Series).rename(columns={"id":"Indicator ID", "value":"Indicator Name"})
#r2 = pd.DataFrame(rural_df["country"]).country.apply(pd.Series).rename(columns={"id":"Country ID", "value":"Country Name"})
#r3 = rural_df[['countryiso3code', 'date', 'value', 'unit',
#       'obs_status', 'decimal']]

#rural_df = pd.concat([r1,r2,r3], axis=1)

In [179]:
#elec_df: unpack Country and Indicator dictionaries to columns
#e1 = pd.DataFrame(elec_df["indicator"]).indicator.apply(pd.Series).rename(columns={"id":"Indicator ID", "value":"Indicator Name"})
#e2 = pd.DataFrame(elec_df["country"]).country.apply(pd.Series).rename(columns={"id":"Country ID", "value":"Country Name"})
#e3 = elec_df[['countryiso3code', 'date', 'value', 'unit',
#       'obs_status', 'decimal']]

#elec_df = pd.concat([e1,e2,e3], axis=1)